In [15]:
import numpy as np
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt
%matplotlib inline
from standard_config import *
import tqdm

In [3]:
haci_bbox_path = "{}/HACI_bbox_data".format(local_data_path)
haci_track_path = "{}/HACI_track_data".format(local_data_path)
linet_grid_path = "{}/linet_grid".format(local_data_path)

In [4]:
haci_cases = pd.read_csv("{}/haci-2008-2017-bbox-filtered.csv".format(haci_bbox_path))
filtered_cases = pd.read_csv("{}/selected_cases.csv".format(haci_bbox_path))

Um den Aufwand etwas geringer zu halten sehen wir uns nur die Jahre 2012 bis 2014 an.

In [5]:
haci_cases = haci_cases[(haci_cases.year >= 2012) & (haci_cases.year <= 2014)]

Das sind immer noch {{len(haci_cases.year)}} FÃ¤lle.

In [7]:
haci_dates = haci_cases.date.unique()

In [8]:
haci_dates

array(['2012-01-02', '2012-01-03', '2012-01-05', '2012-01-06',
       '2012-01-07', '2012-01-08', '2012-01-12', '2012-01-13',
       '2012-01-19', '2012-01-23', '2012-01-24', '2012-02-19',
       '2012-02-28', '2012-03-08', '2012-03-17', '2012-03-24',
       '2012-03-29', '2012-04-11', '2012-04-12', '2012-04-19',
       '2012-04-20', '2012-04-21', '2012-04-22', '2012-04-23',
       '2012-04-24', '2012-04-29', '2012-04-30', '2012-05-01',
       '2012-05-04', '2012-05-05', '2012-05-06', '2012-05-09',
       '2012-05-10', '2012-05-11', '2012-05-12', '2012-05-15',
       '2012-05-16', '2012-05-19', '2012-05-20', '2012-05-21',
       '2012-05-22', '2012-05-23', '2012-05-24', '2012-05-25',
       '2012-05-26', '2012-05-27', '2012-05-28', '2012-05-31',
       '2012-06-02', '2012-06-03', '2012-06-04', '2012-06-06',
       '2012-06-07', '2012-06-08', '2012-06-09', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-24',
       '2012-06-25', '2012-06-28', '2012-06-29', '2012-06-30',
       '2012-07-01', '2012-07-02', '2012-07-03', '2012-07-04',
       '2012-07-05', '2012-07-06', '2012-07-07', '2012-07-08',
       '2012-07-09', '2012-07-10', '2012-07-11', '2012-07-12',
       '2012-07-13', '2012-07-14', '2012-07-15', '2012-07-16',
       '2012-07-17', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-24', '2012-07-26', '2012-07-27',
       '2012-07-28', '2012-07-29', '2012-07-30', '2012-07-31',
       '2012-08-02', '2012-08-03', '2012-08-04', '2012-08-05',
       '2012-08-06', '2012-08-07', '2012-08-08', '2012-08-09',
       '2012-08-10', '2012-08-11', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-19', '2012-08-20',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-28', '2012-08-29', '2012-08-30', '2012-08-31',
       '2012-09-10', '2012-09-11', '2012-09-12', '2012-09-21',
       '2012-09-22', '2012-09-23', '2012-09-24', '2012-09-25',
       '2012-09-27', '2012-09-28', '2012-09-29', '2012-10-03',
       '2012-10-04', '2012-10-05', '2012-10-07', '2012-10-09',
       '2012-10-10', '2012-10-12', '2012-10-16', '2012-10-19',
       '2012-10-26', '2012-10-27', '2012-11-02', '2012-11-04',
       '2012-11-05', '2012-11-06', '2012-11-10', '2012-11-17',
       '2012-11-22', '2012-12-04', '2012-12-09', '2012-12-15',
       '2012-12-25', '2012-12-27', '2012-12-30', '2013-01-30',
       '2013-03-19', '2013-03-20', '2013-04-10', '2013-04-11',
       '2013-04-12', '2013-04-13', '2013-04-15', '2013-04-16',
       '2013-04-17', '2013-04-18', '2013-04-19', '2013-04-22',
       '2013-04-26', '2013-04-27', '2013-05-02', '2013-05-03',
       '2013-05-04', '2013-05-07', '2013-05-08', '2013-05-09',
       '2013-05-10', '2013-05-11', '2013-05-12', '2013-05-15',
       '2013-05-16', '2013-05-17', '2013-05-18', '2013-05-19',
       '2013-05-20', '2013-05-21', '2013-05-22', '2013-05-23',
       '2013-05-25', '2013-05-28', '2013-05-29', '2013-05-30',
       '2013-05-31', '2013-06-01', '2013-06-02', '2013-06-04',
       '2013-06-06', '2013-06-08', '2013-06-09', '2013-06-10',
       '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-15',
       '2013-06-16', '2013-06-17', '2013-06-18', '2013-06-19',
       '2013-06-20', '2013-06-21', '2013-06-22', '2013-06-23',
       '2013-06-24', '2013-06-25', '2013-06-27', '2013-06-28',
       '2013-06-29', '2013-07-01', '2013-07-02', '2013-07-03',
       '2013-07-05', '2013-07-06', '2013-07-07', '2013-07-09',
       '2013-07-10', '2013-07-11', '2013-07-18', '2013-07-19',
       '2013-07-22', '2013-07-23', '2013-07-24', '2013-07-25',
       '2013-07-26', '2013-07-27', '2013-07-28', '2013-07-29',
       '2013-07-30', '2013-07-31', '2013-08-02', '2013-08-03',
       '2013-08-04', '2013-08-05', '2013-08-06', '2013-08-07',
       '2013-08-08', '2013-08-09', '2013-08-10', '2013-08-12',
       '2013-08-13', '2013-08-14', '2013-08-17', '2013-08-18',
       '2013-08-19', '2013-08-23', '2013-08-24', '2013-08-25',
       '2013-08-27', '2013-08-28', '2013-08-31', '2013-09-01',
       '2013-09-06', '2013-09-07', '2013-09-08', '2013-09-09',
       '2013-09-10', '2013-09-11', '2013-09-12', '2013-09-13',
       '2013-09-14', '2013-09-15', '2013-09-16', '2013-09-17',
       '2013-09-18', '2013-09-19', '2013-09-25', '2013-09-26',
       '2013-09-27', '2013-09-28', '2013-10-04', '2013-10-05',
       '2013-10-10', '2013-10-15', '2013-10-17', '2013-10-19',
       '2013-10-20', '2013-10-21', '2013-10-22', '2013-10-23',
       '2013-10-26', '2013-10-27', '2013-10-28', '2013-10-29',
       '2013-11-03', '2013-11-04', '2013-11-05', '2013-11-08',
       '2013-11-09', '2013-11-10', '2013-11-12', '2013-11-20',
       '2013-11-30', '2013-12-03', '2013-12-06', '2013-12-19',
       '2013-12-22', '2014-01-04', '2014-01-06', '2014-01-08',
       '2014-01-09', '2014-02-21', '2014-03-05', '2014-03-22',
       '2014-03-23', '2014-03-24', '2014-03-25', '2014-03-26',
       '2014-04-03', '2014-04-04', '2014-04-05', '2014-04-08',
       '2014-04-12', '2014-04-16', '2014-04-19', '2014-04-20',
       '2014-04-21', '2014-04-22', '2014-04-25', '2014-04-26',
       '2014-04-27', '2014-04-28', '2014-04-30', '2014-05-01',
       '2014-05-02', '2014-05-08', '2014-05-09', '2014-05-10',
       '2014-05-11', '2014-05-12', '2014-05-13', '2014-05-14',
       '2014-05-15', '2014-05-18', '2014-05-19', '2014-05-20',
       '2014-05-21', '2014-05-22', '2014-05-23', '2014-05-24',
       '2014-05-25', '2014-05-26', '2014-05-27', '2014-05-28',
       '2014-05-29', '2014-05-30', '2014-05-31', '2014-06-02',
       '2014-06-03', '2014-06-04', '2014-06-05', '2014-06-07',
       '2014-06-08', '2014-06-09', '2014-06-10', '2014-06-11',
       '2014-06-12', '2014-06-13', '2014-06-14', '2014-06-17',
       '2014-06-19', '2014-06-20', '2014-06-23', '2014-06-24',
       '2014-06-25', '2014-06-26', '2014-06-27', '2014-06-28',
       '2014-06-29', '2014-06-30', '2014-07-01', '2014-07-02',
       '2014-07-04', '2014-07-05', '2014-07-06', '2014-07-07',
       '2014-07-08', '2014-07-09', '2014-07-10', '2014-07-11',
       '2014-07-12', '2014-07-13', '2014-07-14', '2014-07-16',
       '2014-07-17', '2014-07-20', '2014-07-21', '2014-07-22',
       '2014-07-23', '2014-07-24', '2014-07-25', '2014-07-26',
       '2014-07-27', '2014-07-28', '2014-07-29', '2014-07-30',
       '2014-08-02', '2014-08-03', '2014-08-04', '2014-08-05',
       '2014-08-06', '2014-08-07', '2014-08-08', '2014-08-09',
       '2014-08-10', '2014-08-11', '2014-08-12', '2014-08-13',
       '2014-08-14', '2014-08-15', '2014-08-16', '2014-08-17',
       '2014-08-18', '2014-08-19', '2014-08-20', '2014-08-21',
       '2014-08-22', '2014-08-23', '2014-08-24', '2014-08-25',
       '2014-08-26', '2014-08-27', '2014-08-29', '2014-08-30',
       '2014-08-31', '2014-09-01', '2014-09-05', '2014-09-06',
       '2014-09-07', '2014-09-08', '2014-09-09', '2014-09-10',
       '2014-09-11', '2014-09-13', '2014-09-14', '2014-09-15',
       '2014-09-16', '2014-09-17', '2014-09-18', '2014-09-19',
       '2014-09-20', '2014-09-21', '2014-09-22', '2014-09-25',
       '2014-09-30', '2014-10-01', '2014-10-05', '2014-10-07',
       '2014-10-08', '2014-10-09', '2014-10-11', '2014-10-12',
       '2014-10-13', '2014-10-15', '2014-10-16', '2014-10-17',
       '2014-10-19', '2014-10-20', '2014-10-21', '2014-10-22',
       '2014-11-02', '2014-12-01', '2014-12-07', '2014-12-08',
       '2014-12-10', '2014-12-11', '2014-12-12', '2014-12-20'],
      dtype=object)

In [62]:
lightning = []

In [10]:
d = haci_dates[0]

In [11]:
haci_cases[haci_cases.date == d]

,date,time,id,flags,t0,t1,l00,l01,c00,c01,...,area_ratio,msg_eu_l00,msg_eu_c00,msg_eu_l01,msg_eu_c01,msg_eu_l0,msg_eu_c0,msg_eu_l1,msg_eu_c1,year
4409,2012-01-02,22:10,8884,0,266,273,156,163,493,504,...,0.235294,213,503,212,506,213,503,211,511,2012

In [63]:
for date in tqdm.tqdm(haci_cases.date.unique()):
    date_cases = haci_cases[haci_cases.date==date]
    
    with xr.open_dataset("{}/linet_radolan_grid_{}.nc".format(linet_grid_path, date.replace("-",""))) as file:
        fld = file.flash_density.data.copy()
        
    for ic, case in date_cases.iterrows():
        tlist = np.arange(np.clip(case.t0,0,288),np.clip(case.t1,0,288),1)
        
        f = []
        
        for t in tlist:
            f.append(fld[t][case.l0:case.l1,case.c0:case.c1])
            
        f_sum = np.sum(np.dstack(f),axis=2)
        
        if np.any(f_sum>0):
            lightning.append(1)
        else:
            lightning.append(0)

100%|ââââââââââ| 480/480 [44:32<00:00,  5.57s/it]

In [67]:
haci_cases = haci_cases.assign(lightning=lightning)

In [68]:
haci_cases.to_csv("{}/haci-2012-2014-bbox-filtered.csv".format(haci_bbox_path),index=False)

In [70]:
np.unique(haci_cases.lightning,return_counts=True)

(array([0, 1]), array([1986, 2074]))

In [17]:
dc = haci_cases[haci_cases.date == d].loc[4409]

In [23]:
case =dc

In [34]:
tlist = np.arange(np.clip(case.t0,0,288),np.clip(case.t1,0,288)+6,1)
        
f = []

for t in tlist:
    f.append(fld[t][case.l0:case.l1,case.c0:case.c1])

f_sum = np.sum(np.dstack(f),axis=2)

In [35]:
f_sum

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]], dtype=float32)

In [36]:
np.any(f_sum>0)

False

In [22]:
np.arange(dc.t0,dc.t1)

array([266, 267, 268, 269, 270, 271, 272])

In [27]:
with xr.open_dataset("{}/linet_radolan_grid_{}.nc".format(linet_grid_path, d.replace("-",""))) as file:
    fld = file.flash_density.data.copy()

In [14]:
fld[haci]

<xarray.DataArray 'flash_density' (time: 288, x: 900, y: 900)>
array([[[0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.],
        ...,
        [0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.]],

       [[0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.],
        ...,
        [0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.]],

       ...,

       [[0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.],
        ...,
        [0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.]],

       [[0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.],
        ...,
        [0., 0., ..., 0., 0.],
        [0., 0., ..., 0., 0.]]], dtype=float32)
Coordinates:
  * time     (time) datetime64[ns] 2012-01-02 ... 2012-01-02T23:55:00
    lon      (x, y) float32 3.58893 3.6010756 3.6132221 ... 15.689065 15.704155
    lat      (x, y) float32 46.95258 46.95351 46.954437 ... 54.733574 54.732704
Dimensions without coordinates: x, y
Attributes:
    units:    fl/kilometer^2