In [19]:
import pandas as pd
from standard_config import *

from analysis_tools import grid_and_interpolation as gi
from MSGtools import get_msg_lon_lat

from io_tools import radolan

In [42]:
slon,slat = get_msg_lon_lat('eu')

/vols/satellite/home/lenk/anaconda3/envs/tracking/lib/python3.7/site-packages/h5py/_hl/dataset.py:313: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  "Use dataset[()] instead.", H5pyDeprecationWarning)

In [7]:
ci_data = pd.read_csv("/{}/HACI_bbox_data/haci-2010-05-24-bbox.dat".format(local_data_path),sep="\s+")

In [8]:
ausschnitt = ci_data[(ci_data.time >= "13:00") & (ci_data.time <= "14:00")]

In [15]:
zellen = ausschnitt[ausschnitt.t1 - ausschnitt.t0 > 10]

In [16]:
zellen

,date,time,id,flags,t0,t1,l00,l01,c00,c01,l0,l1,c0,c1
1953,2010-05-24,13:25,7230,0,161,178,691,698,522,556,655,699,522,672
1971,2010-05-24,13:30,7272,0,162,189,784,786,548,554,739,787,548,663
2002,2010-05-24,13:40,7351,0,164,175,458,463,333,340,441,463,333,391
2017,2010-05-24,13:45,7409,0,165,197,580,593,612,629,580,593,612,631
2020,2010-05-24,13:45,7421,0,165,179,664,665,833,834,645,666,831,891
2035,2010-05-24,13:50,7452,0,166,188,415,419,831,837,406,459,775,900
2040,2010-05-24,13:50,7473,0,166,181,655,658,556,563,623,658,552,660

In [18]:
superzelle = zellen.loc[1971]

In [28]:
superzelle

date     2010-05-24
time          13:30
id             7272
flags             0
t0              162
t1              189
l00             784
l01             786
c00             548
c01             554
l0              739
l1              787
c0              548
c1              663
Name: 1971, dtype: object

In [33]:
r = radolan.Radolan()

In [38]:
lo = r.lon[superzelle.l01,superzelle.c01]

In [40]:
la = r.lat[superzelle.l00,superzelle.c01]

In [21]:
i,j = radolan.rado_xy2ij(superzelle.l00,superzelle.c01)

In [31]:
lo,la = radolan.rado_xy2ll(i,j)

In [32]:
lo,la

(-65.92497154351702, 41.34142066998952)

In [43]:
gi.get_index((lo,la), slon,slat)

(array(116), array(519))